@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Fal 2022 - WEB524 Assignment 1</h3>

<p>
    I am a third year Computer Programming & Analysis student at Seneca College. Most interested in structured languages such as C++, Java, and C++. I enjoy developing Object-Oriented Programs.<br>
    This is the first assignment of Web Programming Using ASP.NET course. This web app stores a number of venues and their information including:
    <br>
    <ul>
        <li>Company,</li>
        <li>Address,</li>
        <li>City,</li>
        <li>Province,</li>
        <li>Postal Code,</li>
        <li>Phone Number,</li>
        <li>Fax,</li>
        <li>Email,</li>
        <li>Website,</li>
        <li>Website,</li>
        <li>And open date.</li>
    </ul>
    <br>
    Users are able to add new venues from the venues section.<br>
    Users can also edit some venues information. These Venues can be deleted by the users at any time.
</p>
