@{
    ViewBag.Title = "Contact";
}
<h2>Contact Me</h2>
<br />
<h4>Arman Valaee Asr</h4>

<address>
    Seneca College<br />
    Toronto, ON<br />
    <abbr title="Phone">Phone:</abbr>
    (437) 984-5975
</address>

<address>
    <strong>Seneca Email:</strong>   <a href="mailto:avalaee-asr@myseneca.ca">avalaee-asr@myseneca.ca</a><br />
    <strong>Personal Email:</strong> <a href="mailto:armanvalaee@gmail.com">armanvalaee@gmail.com</a>
</address>