@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Arman Valaee Asr</h1>
    <p class="lead">This is the first web application built in WEB524 class by me. The purpose of this program is to get, modify, and
    add information of different Venues.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WEB524</h2>
        <p>
            Using this web app, you can view the list of venues with their detailed information. You can view the detailed information of each venue in a seperate page using the provided links in the list. The information of each venue can be editet by clicking the edit button on the list. You can also create or delete venues by using provided links in the website.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>SPO600</h2>
        <p>This is my website for "Software Optimization and Portability" course. I post new blogs on various subjects almost every week. Feel free to check it out.</p>
        <p><a class="btn btn-default" href="https://www.cyancrane.ca">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>I am Computer Programming student at Seneca College. You can learn more about me on my LinkedIn.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/armanvalaeeasr/">Learn more &raquo;</a></p>
    </div>
</div>