@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3 - Arman Valaee Asr</h1>
    <p class="lead">This web app is created to help the user with customizing and editing their favourite playlists.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WEB524</h2>
        <p>
            This web app includes a number of Albums, Artists, Tracks and their basic information.
            The Tracks information such as the composer, unit price, length and ... can be found in the Tracks tab. You can also add new Tracks to the list. <br />
            Using the Playlists tab you can view the existing playlist and their number of tracks. You can view the tracks or edit the tracks in each playlist.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SPO600</h2>
        <p>This is my website for "Software Optimization and Portability" course. I post new blogs on various subjects almost every week. Feel free to check it out.</p>
        <p><a class="btn btn-default" href="https://armanvalaee.wixsite.com/arman-valaee-asr">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>I am Computer Programming student at Seneca College. You can learn more about me on my LinkedIn.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/armanvalaeeasr/">Learn more &raquo;</a></p>
    </div>
</div>