@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arman Valaee Asr - Music Biz I</h1>
    <p class="lead">A web app to serve the needs of the music business companies. This web app will alow a record label to manage their artists, albums, and tracks!</p>
    <p><a href="https://avalaee-asr-wa-web524-a5.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Open Web App on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>Different users at the record label have various responsibilities, therefore these roles has been created to meet the needs of the company.</p>
        <p><b>Executive</b> - artists & repertoire” (A&R) executive, manages the talent acquisition.</p>
        <p><b>Coordinator</b> - Oversees or coordinates the work on an album, all aspects, and phases.</p>
        <p><b>Clerk</b> - Supports the coordinator and executive.</p>
    </div>
    <div class="col-md-4">
        <h2>Data Loading</h2>
        <p>Data Loading controllers are only available to the admin and it will appear on the navigation bar after logging in as the admin.</p>
        <p><b>Admin Login Credentials as stated in the documents...</b></p>
    </div>
</div>