@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Fal 2022 - WEB524 Assignment 2</h3>

<p>
    I am a third year Computer Programming & Analysis student at Seneca College. Most interested in structured languages such as C++, Java, and C++. I enjoy developing Object-Oriented Programs.<br>
    This is the first assignment of Web Programming Using ASP.NET course. This web app stores a number of Tracks and the Invoices of the customers purchasing them. These information include:
    <br>
    <ul>
        <li>Track Name,</li>
        <li>Album Title,</li>
        <li>Artist and Composer Information,</li>
        <li>Track Genre,</li>
        <li>Customer Personal Information,</li>
        <li>Sales Rep Information,</li>
        <li>Invoice Details,</li>
        <li>Invoice Line Details,</li>
        <li>and Purchase Total.</li>
    </ul>
    <br>
    Users are able to view the invoice details including every purchased tracks and its details.<br>
    A range of filters are available in the track list to view the tracks.
</p>
