@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2 - Arman Valaee Asr</h1>
    <p class="lead">
        This Web app includes a list of Tracks with details. There is an Invoice section which will show the customer purchases.
        By clicking on the details it will show the tracks bought by the customer in each invoice.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WEB524</h2>
        <p>
            Imagine a website where you can explore the worldwide tracks and buy a multiple tracks in every transaction. You can view the list of tracks with their information such as track name, album title, artist & composer name, and price. You don't see people buying tracks anymore these days, but they do, this web app is a perfect platform to keep track of the available tracks, invoices purchased by the customers and the details of each invoice including the purchased track.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>SPO600</h2>
        <p>This is my website for "Software Optimization and Portability" course. I post new blogs on various subjects almost every week. Feel free to check it out.</p>
        <p><a class="btn btn-default" href="https://armanvalaee.wixsite.com/arman-valaee-asr">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>I am Computer Programming student at Seneca College. You can learn more about me on my LinkedIn.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/armanvalaeeasr/">Learn more &raquo;</a></p>
    </div>
</div>